*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: rgba(3, 1, 12, 0.795);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper{
    position: relative;
    width: 550px;
    height: fit-content;
    margin: 100px auto;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: -10px 10px 5px  rgb(8, 6, 6);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    user-select: none;
}
.current-date{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(9, 9, 20, 0.747);
}

header .icons span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background: #d1c1c121; */
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
}


.calendar ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin: 0 20px;
}
.calendar ul li{
    width: calc(100% / 7);
    position: relative;
    font-size: 18px;
    
}
.calendar .week li{
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #050308a9;
}
.calendar{
    margin-bottom: 30px;
    user-select: none;
}
.calendar .days li{
    padding: 10px 0;
    color: #07010f;
    z-index: 1;
}
.calendar ul li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
.days li.inactive{
    font-weight: 100;
    color: #04030844;
}

.days  li:hover::before{
    background: #c4c0c0;
}
.days li.active::before{
    background: #e7c31f;
}
.days li.active{
    color: #f3f3f3;
}
@media screen and (max-width:760px){
   .wrapper{
        width: 70%;
   } 
    
}
@media screen and (max-width: 550px){
    .current-date{
        font-size: 1.5rem;
    }
    
    .calendar .week li{
        font-size: 1rem;
        
    }
 }
 @media screen and (max-width: 450px){
    .current-date{
        font-size: 1rem;
    }

    .calendar .week li{
        font-size: 0.5rem;
        
    }
 }